<div class="relative isolate px-6 pt-16 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#B4C5E4] to-[#FBFFF1] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(60.1% 35.2%, 90.3% 50.7%, 85.6% 15.8%, 75.4% 8.3%, 70.2% 12.5%, 65.8% 25.4%, 55.7% 55.1%, 48.3% 65.8%, 40.2% 48.7%, 35.6% 28.3%, 20.5% 65.2%, 10.3% 55.7%, 18.7% 90.4%, 28.9% 70.1%, 65.4% 85.3%, 60.1% 35.2%)">
        </div>
    </div>
    <div class="mx-auto max-w-4xl">
        <h1 class="text-4xl font-bold text-center mb-8 text-[#FBFFF1]">Committee Experience</h1>
        <ul role="list" class="divide-y divide-gray-100">
            
            <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-lg font-semibold text-[#FBFFF1]">MANIAC X - IT Coordinator</p>
                    <p class="mt-1 truncate text-xs/5 text-[#FBFFF1]">Maniac is a multimedia competition for high school students. The event is hosted by UBAYA's Informatics Multimedia Departement. I am responsible for the IT division, where I handled several projects, such as AR games and committee's main website.</p>
                  </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm/6 text-[#FBFFF1]">2021</p>
                </div>
              </li>
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-lg font-semibold text-[#FBFFF1]">UBAYA E-Sport League Season 2 - IT Coordinator</p>
                    <p class="mt-1 truncate text-xs/5 text-[#FBFFF1]">This event is a e-sport league hosted by UBAYA. I am resposible for the IT division. I handled the committee's main website that was used for landing page and registration page.</p>
                  </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm/6 text-[#FBFFF1]">2021</p>
                </div>
              </li>
              <li class="flex justify-between gap-x-6 py-2">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-lg font-semibold text-[#FBFFF1]">CEG 2022 - IT Coordinator</p>
                    <p class="mt-1 truncate text-xs/5 text-[#FBFFF1]">CEG stands for Chemical Engineering Games. It is an event hosted by UBAYA's Chemical Engineering Departement. My role in this committee is as the IT coordinator. There is multiple project in this committee, such as main website and game website.</p>
                  </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm/6 text-[#FBFFF1]">2022</p>
                </div>
              </li>
              <li class="flex justify-between gap-x-6 py-2">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-lg font-semibold text-[#FBFFF1]">ILPC 2022 - Chief of Committee</p>
                    <p class="mt-1 truncate text-xs/5 text-[#FBFFF1]">ILPC stands for Informatics Logics and Programming Competition. I was chosen as the Chief of Committee through a voting event.</p>
                  </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm/6 text-[#FBFFF1]">2022</p>
                </div>
              </li>
              <li class="flex justify-between gap-x-6 py-2">
                <div class="flex min-w-0 gap-x-4">
                  <div class="min-w-0 flex-auto">
                    <p class="text-lg font-semibold text-[#FBFFF1]">And many more...</p>
                  </div>
                </div>
              </li>
          </ul>
          
    </div>

    
</div>