<div class="relative isolate px-6 pt-16 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#B4C5E4] to-[#FBFFF1] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(60.1% 35.2%, 90.3% 50.7%, 85.6% 15.8%, 75.4% 8.3%, 70.2% 12.5%, 65.8% 25.4%, 55.7% 55.1%, 48.3% 65.8%, 40.2% 48.7%, 35.6% 28.3%, 20.5% 65.2%, 10.3% 55.7%, 18.7% 90.4%, 28.9% 70.1%, 65.4% 85.3%, 60.1% 35.2%)">
        </div>
    </div>
    <div class="mx-auto max-w-4xl">
        <h1 class="text-4xl font-bold text-center mb-8 text-[#FBFFF1]">Previous Projects</h1>
        <div class="flex overflow-x-auto space-x-4">
            <div class="flex-none w-64 bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-bold mb-2">Crowdshipping Prototype Application</h2>
                <p class="text-gray-600">This application is a mobile application developed for a Master's Degree Thesis for my client. I developed the front-end side using Flutter, the back-end side using Laravel. I also developed the code algorithm using Python. The end product is two sided mobile app for driver and customers that can calculate the most efficient route for item delivery pick-up and drop-off order.</p>
            </div>
            <div class="flex-none w-64 bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-bold mb-2">Logistic and Warehousing System</h2>
                <p class="text-gray-600">This is a web-based application that I developed in my previous job at a software house. The client is a company that wants a logistic and warehousing system. I developed the application using Laravel as back-end and VueJS as front-end.</p>
            </div>
            <div class="flex-none w-64 bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-bold mb-2">Satusehat Integration System</h2>
                <p class="text-gray-600">The project is about data-correction and data-integration for Satusehat's Standard. Satusehat is an initiative for all of Indonesia's healthcare facility. Satusehat allows a syncronization between healthcare facility. I developed the system mainly using Laravel.</p>
            </div>
            <div class="flex-none w-64 bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-bold mb-2">PACS</h2>
                <p class="text-gray-600">PACS stands for Picture Archiving and Communication System. My previous company created this PACS as a SaaS product. The main purpose of the system is to receive and archive the image from healthcare imaging machines, such as CT-RAY, X-RAY, and USG</p>
            </div>
        </div>
    </div>

    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#B4C5E4] to-[#FBFFF1] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(65.3% 38.7%, 92.4% 58.2%, 88.1% 20.3%, 78.6% 5.2%, 73.9% 8.4%, 63.7% 28.9%, 55.1% 55.6%, 48.2% 67.3%, 42.7% 50.8%, 38.4% 30.2%, 25.6% 70.4%, 5.2% 60.1%, 15.8% 95.3%, 30.1% 72.6%, 68.4% 90.2%, 65.3% 38.7%)">
        </div>
    </div>
</div>